<div class="row" style="margin-top:20px">
    <div class="col-lg-3">
        <div class="panel">
            <h3 class="panel-title">
                Series
            </h3>  
        </div>
        <div *ngIf ="loading_series">
            <span class="spinner-border spinner-border-sm mr-1"></span> 
        </div>
        <ul class="list-group" *ngFor="let s of api.series_results">
            <a href="#" class="list-group-item">{{ s.title }}</a>
        </ul>
    </div>
    
    <div class="col-lg-9" >
        <div id="inforesult" class="alert alert-dark" role="alert">
            Mostrar:
            <select id="limite" (change)="onSelectLimite($event.target.value)">
                <option value="5">5</option>
                <option value="10">10</option>
                <option value="15">15</option>
                <option value="20" selected>20</option>
                <option value="30">30</option>
            </select>
            Página :
            <input id="page" type="number" [(ngModel)]="page" (ngModelChange)="onChange()"/>

            <button id="previous_button" (click)="onClickPrevious()"> 
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            </button> 
            <span style ="margin-left: 5px; margin-right: 5px;">
                ( {{page}} / {{total_pages}} )
            </span>    
            <button id="next_button"  (click)="onClickNext()">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            </button>
        </div>
        <div *ngIf ="loading_comics">
            <span class="spinner-border spinner-border-sm mr-1"></span> 
        </div>
        <div class="row" >
            <div  *ngFor="let c of api.comics_results"  class="col-lg-4 col-md-6 mb-4">
                <div class="card h-100">
                    <a href="#"><img class="mat-card-image" src={{c.thumbnail.path}}.{{c.thumbnail.extension}} alt></a>
                    <div class="card-body">
                        <h6 class="card-title">
                            {{ c.title }} 
                        </h6>

                        <div *ngFor="let p of c.prices">
                            <strong>US$ {{ p.price }}</strong>
                        </div>

                    </div>
                    <div class="card-foot">
                        <button type="button" class="btn btn-success" (click)="addShopCart(avisomodal, c)">
                            <span class="btn-label">
                                <i class="glyphicon glyphicon-shopping-cart"></i>
                                Adicionar Carrinho
                            </span>
                        </button>
                    </div>
                </div>
            </div>
        </div>    
    </div>
</div>

<ng-template #avisomodal let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Confirmar</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <div class="modal-body">
       Deseja adicionar no carrinho ?
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="confirm()">Sim</button>
      <button type="button" class="btn btn-outline-dark" (click)="modal.close('')">Não</button>
    </div>
</ng-template>